@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

ul {display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

li {
    display: inline;
    
}

body {
    margin: 0;
    font-family: Roboto;
    padding: 0;
    background-color: #1f2937;
}

.header , a{
    
background-color: #1f2937;
color: #e5e7eb;
text-decoration: none;
margin: 0;
padding: 0;
font-size: 18px;
margin-bottom: 100px;
}

.inner {
    padding: 0 15% 0 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.navbar {
    display: flex;
    padding: 20px;
    
}

.hero {
    height: 200px;
    padding: 0 15% 0 15%;
    display: flex;
    background-color: #1f2937;
    margin: 0 0 100px 0;
    color: #f9faf8;
    
}

.hero >  img {
    flex-shrink: 0;
    max-width: fit-content;
}

.hero-text {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    
}

.hero-main {
    font-weight: 900;
    font-size: 48px;
    padding-bottom: 0;
}

.hero-sub{
    margin: 0;
    padding-right: 35px;
    font-size: 18px;
    color: #e5e7eb;
}

.button{
    font-family: Roboto;
    background-color: #3882f6;
    margin:auto 0 0 0 ;
    padding: 5px;
    width: 140px;
    height: 38px;
    border-radius: 10px;
    border: 0;
    font-size: 20px;
    color: white;
    font-weight: 700;
    justify-content: flex-end;
}

.info{display: flex;
    flex-direction: column;
    justify-content: center;
background-color: white;
align-items: center;
height: 400px;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
    width: 900px;

}

.card >  img {
    width: 150px;
    border-style: solid;
    border-radius: 15px;
    padding: 15px;
    border-color: #3882f6;
}
.card {
    text-align: center;
}
.title{display: flex;
    background-color: white;
    justify-content: center;
    text-align: center;
    font-weight: 900;
    font-size: 36px;
    color: #1f2937;
padding-top: 50px;
}
.footer {
    background-color: #1f2937;
}